@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Stretch-pro';
    src: url('/fonts/stretch/StretchPro.otf');
  }
  
  @font-face {
    font-family: 'Poppins-Light';
    src: url('/fonts/poppins/Poppins-Light.ttf');
  }
  
  @font-face {
    font-family: 'Poppins-Bold';
    src: url('/fonts/poppins/Poppins-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Poppins-Medium';
    src: url('/fonts/poppins/Poppins-Medium.ttf');
  }
  
  @font-face {
    font-family: 'Poppins-Regular';
    src: url('/fonts/poppins/Poppins-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Poppins-Semibold';
    src: url('/fonts/poppins/Poppins-SemiBold.ttf');
  }

}




:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
